<ul>
  <li> Forecast Location Zip Code: <%= @forecast.zip %></li>
  <li> Forecasted Temperature: <%= @forecast.temp %>°F</li>
  <li> Forecasted Max Temperature: <%= @forecast.temp_max %>°F</li>
  <li> Forecasted Min Temperature: <%= @forecast.temp_min %>°F</li>
  <li> Forecasted Humidity: <%= @forecast.humidity %>%</li>
  <li> Forecasted Windspeed: <%= @forecast.wind_speed %> MPH</li>
  <li> Forecasted Wind Direction: <%= @forecast.wind_direction %></li>
</ul>